body{background-image: 
     url(paw-prints-fun-wallpaper.jpg);
     margin: 10px;
 }

a{
text-decoration: none;
text-align: left;
    color: #000000
		

}



.map1{
   width: 512px;
    display: block;
    margin: 0 auto;
}

.map2{
   width: 512px;
    display: block;
    margin: 0 auto;
}

.map3{
   width: 512px;
    display: block;
    margin: 0 auto;
}
h1{ text-align: center;
    font-size: 40px;
	font-family: URW Chancery L, cursive;
}



.logo-image {
width: 15%;

}

div{
    text-align: center;
    
}
img {
width: 500px;
}

p{
    text-align: center;
    font-size: 20px;
	font-family: URW Chancery L, cursive;
}

h2{ 
    text-align: center;
	font-family: URW Chancery L, cursive;
}


h3{
    text-align: center;
    font-size: 20px;
    font-family: URW Chancery L, cursive;
}

h4{
    text-align: center;
    font-family: URW Chancery L, cursive;
}